/* Xu Ziyin 3036173372 */

/* 1 */
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* 2 */
header {
  font-family: Verdana, sans-serif;
  background-color: #0099ff;
  color: #fff;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
  max-width: 50%;
  margin: 0;
}

header nav {
  /* display: block; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-end; */
  /* align-items: right; */
  width: 50%;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
}

header nav a:hover {
  text-decoration-line: overline underline;
  text-decoration-color: red;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin-left: auto;
}

header nav ul li {
  width: 50%;
  margin-left:auto;
}


/* 没有占一行 */
header nav ul::before {
  content: "\n";
  display: block;
  height: 50px;
  width: 200px;
  background-repeat: no-repeat;
  background-image: url("hku-cs-logo.png");
  background-size: contain;
  background-position: top right;
  top: 1rem;
  right: 1rem;
}
  

/* 3 */
article{
    font-family: Arial;
}

/* 4 */
table {
    border-collapse: collapse;
    border: 1px;
    padding: 0.5rem;
}
  
thead {
    background-color: #0099ff;
    color: white;
    font-size: 1.2em;
    text-align: left;
}
 
th {
    padding: 0.5rem;
}
  
td:first-child {
    width: 100px;
}


/* 5? */
article table{
  margin: 2rem 0;
}

/* 6 */
table:nth-child(6) td:first-child {
  width: 150px;
}

table:nth-child(6) td:nth-child(3) {
  width: 80px;
  text-align: center;
}

p:nth-child(3)::first-line {
  font-weight: bold;
}

p:nth-child(4)::first-line {
  font-weight: bold;
}

/* 7 */
/* 会选中contacts的 */
table:nth-child(2) tbody tr td:first-child {
    vertical-align: top;
    color:Red;
}

/* 8 */
article nav {
  background-color: #0099ff;
  position: fixed;
  bottom: 10px;
  margin: auto;
  width: 80%;
}

article nav ul {
  width: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style-type: none;
  padding: 0;
}

article nav li {
  width: 300px;
  margin: 10px;
}

article nav ul li a {
  display: block; 
  max-width: 300px; 
  margin: 10px;
  color: white;
}

section{
  border: 0.5px solid lightgray;
  background-color: #f9f9fb;
  padding: 0 1rem; 
  max-width: 95%;
  margin-bottom: 10px; 
  border-radius: 30px; 
}

/* 就是不太对，， */
section:nth-child(even) {
   margin-left:auto; /* 将偶数序号的SECTION块右对齐 */
}

section:last-child{
  margin-bottom:300px;
  /* 不知道怎么预留空间 */
}

/* 9 */
@media only screen and (min-width:1000px){
  body{
    width: 80%;
    min-width:1000px;
  }
}


@media only screen and (max-width:500px){
  body{
    width:100%;
  }
  article{
    padding-left:10px;
    padding-right:10px;
  }
  header{
    width:100%;
    text-align:center;
  }
  header h1{
    font-size: 1.5 rem;
  }
  nav{
    margin:auto;
  }
}