/* Xu Ziyin 3036173372 */

/* 1 */
@media only screen and (min-width:1000px){
  body{
    width: 80%;
    min-width:1000px;
  }
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin:auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* 2 */
@media screen and (min-width: 1000px) {
  header{
    padding-left: 1rem;
    padding-right:1rem;
  }
}

@media screen and (min-width:1000px) {
  header{
    height: 150px;
    background-image: url("hku-cs-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    background-size: 200px auto;
    margin-top: 20px;
  }
}


header {
  position:relative;
  font-family: Verdana, sans-serif;
  background-color: #0099ff;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  
}

header h1{
  font-size:1.5rem;
}

@media screen and (min-width: 1000px) {
  header h1 {
    /* width:40%; */
    max-width: 50%;
    margin: 0;
  }
}


header nav {
  /* position:relative; */
  width: 50%;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem;
}

header nav a:hover {
  text-decoration-line: overline underline;
  text-decoration-color: red;
}


@media screen and (min-width: 1000px) {
  header nav ul {
    /* position:relative; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin-left: auto;
  }
  
  header nav ul li {
    /* position:relative; */
    width: 50%;
    margin-right:0;
    text-align: right; /* 将文本向右对齐 */
  }
}
 

/* 3 */
article{
    font-family: Arial;
}

/* 4 */
table {
  border-collapse: collapse;
  border: 1px;
  padding: 0.5rem;
  border-right: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
}
  
thead {
    background-color: #0099ff;
    color: white;
    font-size: 1.2em;
    text-align: left;
}

th {
    padding: 0.5rem;
    border-left:2px solid lightgrey;
    border-top: 2px solid lightgrey;
}
td{
  border-top: 2px solid lightgrey;
}
@media screen and (min-width: 1000px) {
  
  td:first-child {
    width: 100px;
  }

}

td{
    border-left:2px solid lightgrey;
    padding: 0.5rem;
}

/* 5? */
article table:nth-child(3){
  margin: 2rem 0;
}

/* 6 */
article table:nth-child(6) td:first-child {
  width: 150px;
}

article table:nth-child(6) td:nth-child(3) {
  width: 80px;
  text-align: center;
}

p:nth-child(3)::first-line {
  font-weight: bold;
}

p:nth-child(4)::first-line {
  font-weight: bold;
}

/* 7 */
@media screen and (min-width: 1000px) {
  table:nth-child(2) tbody tr td {
  position: relative;
  }

  table:nth-child(2) tbody tr td:first-child p {
    position: absolute;
    top: 0;
  }
}


/* 8 */

@media screen and (min-width: 1000px) {
  article nav{
    bottom: 10px;
    width: 80%;
  }
  article nav li {
    width: 300px;
    margin: 10px;
  }
}
article nav {
  background-color: #0099ff;
  position: fixed;
  margin: auto;
}

@media screen and (max-width: 500px) {
  article nav{
    width:95%;
  }
}

article nav ul {
  width: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style-type: none;
  padding: 0;
}

article nav ul li a {
  display: block; 
  max-width: 300px; 
  color: white;
}

@media screen and (max-width:500px) {
  article nav ul li {
    margin-left:20px;
  }
}


section{
  border: 0.5px solid lightgray;
  background-color: #f9f9fb;
  padding: 0 1rem; 
  max-width: 95%;
  margin-bottom: 10px; 
  border-radius: 30px; 
}

section:nth-child(even) {
   margin-left:auto; 
}

section:last-child{
  margin-bottom: 300px;
}

@media only screen and (max-width:500px){
  /* 9 */
  body{
    width:100%;
  }
  /* 10 */
  article{
    padding-left:10px;
    padding-right:10px;
  }
  /* 11 */
  header h1{
    width:100%;
    text-align:center;
  }
  header nav{
    vertical-align: center;
  }
  header nav ul li{
    list-style: none;
    margin:auto;
  }
  header nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    /* padding :0; */
    list-style: none;
    /* margin-left: auto; */
  }

  /* 12 */
  article nav{
    bottom:0;
    font-size:0.9em;
  }

}


/* 13 */
@media screen and (max-width:500px) {
  table {
    border-collapse: collapse;
  }
  
  article table thead tr{
    /* border-top: 2px solid red; */
    padding: 10px;
  }
  
  article table:nth-child(2):has(p) thead tr th{
    display: none;
  }

  article table:nth-child(2) tbody tr:has(p){
    display:flex;
    flex-direction: column;
    border-bottom: 3px solid lightgray;
    border-top: 3px solid lightgray;
  }
  article table:nth-child(2) tbody tr td:has(p) {
    border-top:none;
    border-bottom: 3px solid lightgray;
    /* padding: 10px; */
  }

  article table:nth-child(2) tbody tr td:first-child p:before {
    content:"Date:";
    float:left;
    font-weight: bold;
    padding-right:5px;
  }
  
  article table:nth-child(2) tbody tr td p {
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
  }
  
}